
$colorPrimary: #e43f5a;
$colorSecondary: #1f4068;
$colorDark: #162447;
$colorBlack: #1b1b2f;
$colorWhite: #f6f6f6;

$contentPadding: 2vw;
$paddingTop: 5rem;

$fontPizzo: 'Piazzolla', serif;
$fontRoboto: 'Roboto', sans-serif;
