@import '../../global/variables.scss';

.Sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 20vw;
  padding-top: $paddingTop;
  background-color: rgba($colorSecondary, 0.5);
  
  .Nav {

    .List {

      .Item {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        padding-left: $contentPadding;
        margin-bottom: 0.3rem;
        opacity: 0.75;
        transition: opacity 0.4s ease;
        cursor: pointer;
        position: relative;

        &::before {
          display: block;
          content: '';
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($colorBlack, 0.4);
          opacity: 0;
          transition: opacity 0.4s ease;
        }
        &:hover, &.Active {
          opacity: 1;

          &::before {
            opacity: 1;
          }
        }
        .Icon {
          position: relative;
          z-index: 1;
          font-size: 1.1rem;
        }
        .Text {
          position: relative;
          z-index: 1;
          font-weight: 500;
          padding-left: 1rem;
        }
      }
    }
  }
}
