@import './global/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $colorWhite;
  font-family: $fontRoboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $colorDark;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
input, textarea, button {
  border: none;
  outline: none;
  background: none;
  font: inherit;
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
